<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.becapps.easydownloader"
    android:installLocation="auto"
    android:versionCode="5"
    android:versionName="1.0.4" >

    
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        
        android:allowBackup="true"
        android:icon="@drawable/icon_new"
        android:label="@string/app_name_trial" >
        
        <service android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider" />
        
        <activity
            android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity"
            android:configChanges="locale|orientation|screenSize|keyboard|keyboardHidden"
            android:exported="false" >
        </activity>
        <activity
            android:name="com.becapps.easydownloader.ShareActivity"
            android:configChanges="locale|orientation|screenSize|keyboard|keyboardHidden"
            android:exported="true"
            android:label="An Go Loader" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            
        </activity>
        <activity
            android:name="com.becapps.easydownloader.SettingsActivity"
            android:configChanges="locale|orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name_trial" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
          
        
        <activity
            android:name="com.becapps.easydownloader.TutorialsActivity"
            android:configChanges="locale|orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/title_activity_tutorials" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.becapps.easydownloader.SettingsActivity" />
        </activity>
        
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.becapps.easydownloader.SettingsActivity" />
     

        <service android:name="com.becapps.easydownloader.service.DownloadsService" />
        <service android:name="com.becapps.easydownloader.service.AutoUpgradeApkService" />
        <service android:name="com.becapps.easydownloader.service.FfmpegDownloadService" />

    
    </application>

</manifest>
